.body-container{
    
    height: 100vh;
}

.body-Sin-Imagen{
    background-color: #595959;

    height: 100vh;
}

.body-Con-Imagen{
    height: 100vh;
    background-size: 100%;
    background-image: url(https://i.pinimg.com/236x/f6/08/e2/f608e2f46f8ab965fc5c74c191a0b593--pokemon.jpg?nii=t);
}

.contenedor{
    display: flex;
    align-items: center;
    width: 100%;
    /* padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5); */
    margin-right: auto;
    margin-left: auto;
}

.introduction-text{
    padding-top: 80%;
}

.imgRayoText{
    position: absolute;
    margin: -54px 50px;
}

.text-contenedor{
    margin: 0px 10px 0px;
    background-color: #fee168;
    border-radius: 10px;
    border: 5px #ff9933 solid;
}

.indexTitle{
    text-align: inherit;
    padding: 0px 10px;
}

.indexText{
    font-size: 20px;
    padding: 0px 15px 0px;
}

.form-search{
    display: flex;
    position: fixed;
    padding: 15%;
}

.contendor-navSearch_withPokemon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.conedor-imputs{
    display: flex;
    align-items: center;
}

.btn{
    background-image:url(https://imgur.com/Ob0EAEx.png);
    background-repeat:no-repeat;
    height:50px;
    width:50px;
    background-size: 50px 50px;
    background-position:center;
}



.H2-Pokemon-name{
    text-align: center;
}

.title-span{
    margin-left: 20px;
}

.conatiner-each{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.container-each-niveles{
    display: flex;
    align-content: flex-start;
    padding: 1px 5%;
    flex-wrap: wrap;
    flex-direction: column;
}

.stat{
    display: flex;
}

.stat-number{
    font-size: 21px;
    margin: 0px 5px 10px;
}

.stat-text{
    display: flex;
    width: 30%;
}
.barra{
    width: 230px;
    height: 15px;
    background: #8c8c8c;
    border-radius: 10px;
    margin: 5px;
    position: relative;
    overflow: hidden;
}

.progreso{
    width: var(--w);
    position: absolute;
    height: 100%;
    border-radius: 10px;
    background: var(--bg);
    bottom: 0;
    animation: Aumentar 3s ease;
}

@keyframes Aumentar{
    0%{width: 0%;}
    100%{width: var(--w);}
}

.barra:hover .progreso{
    animation: Aumentar 3s ease;
}

.container-img{
    display: flex;
    justify-content: center;
    background-color: green;
    border-radius: 4px;
    margin: 5px 10px 0px;
}

.pokemon-img{
    width: 50%;
}

h3{
    padding-right: 5px;
}

.containerType{
    display: flex;
    height: 30px;
    width: 60px;
    justify-content: center;
    border-radius: 5px;
    margin: 0px 10px 10px;
}


.td_ability_info:hover{
    font-size: 0px;
}

.td_ability_info:hover:after{
    content: attr(data-hover);
    font-size: 15px;

}

.sinBorde td{
    border: 0;
    border-bottom:1px solid #000;

}
.Table{
    background:#595959 ;
    width: 100%;
    margin-bottom: 1rem;
}

.img500{
    width: 100%;
}

.text-container{
    display: flex;
}
.text{
    margin-top: 20px;
    text-align: center;
}