<!DOCTYPE html>
<html lang="en">
    <head th:insert="~{layout/plantilla :: head(ERROR)}"></head>
    <body>
        <div class="body-container">
            <div class="text-container">
                <p class="text">Puede ser que escribiste mal el nombre del pokemon, volve a intentarlo</p>
            </div>

            <div class="img-container">
                <img class="img500" src="https://imgur.com/oB9orL9.png" alt="imagenError">
            </div>
            <a href="/">Regresar</a>
        </div>
    </body>
</html>